.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  
}

a{
  text-decoration: none;
}

.group{
  margin-bottom: 40px;
  color: white;
  font-weight: bold;

  &__group-name{
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__latest-message{
    font-size: 11px;
  }
}