.side-groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  
}

a{
  text-decoration: none;
}

.side-group{
  margin-bottom: 40px;
  // font-weight: bold;

  &__group-name{
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
  }
  &__latest-message{
    font-size: 11px;
    color: white;
  }
}
