@import "./reset";
@import "font-awesome";
@import "./user";

@import "./side-group";
@import "./side-header";

@import "./main-header";
@import "./message";
@import "./form";

@import "./group";

@import "./colors";
@import "./flash";


.chat-side {
  width: 300px;
  color: white;
  float: left;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

